* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $body-font;
  color: $body-color;
  margin-top: $nav-height;
}

a {
  text-decoration: none;
  transition: color, $transition-duration;

  &:hover {
    color: $accent-color;
  }
}
